# BASIC DATA STRUCTURES IN PYTHON
#### 1. Lists
#### 2. Tuples
#### 3. Sets
#### 4. Dictionaries

## _**1. TUPLES**_

* Order collection of elements.
* Enclosed in () round braces and parenthesis.
* Different kind of elements can be stored.
* Once elements stored, they cannot be changed.(Un_Mutatable)

In [1]:
tup1 =(1, 2.5,'Apple', True)
tup1

(1, 2.5, 'Apple', True)

##### type of tuples

In [2]:
type(tup1)

tuple

##### Indexing in tuples

In [3]:
tup1[3]

True

In [5]:
tup1[1]

2.5

In [7]:
tup1[0:3]   #last element is exclusive

(1, 2.5, 'Apple')

##### count of elements in tuple

In [8]:
len(tup1)

4

In [9]:
tup2= (4 , 9.5 , "ammar_bhai" , False)
tup2

(4, 9.5, 'ammar_bhai', False)

In [10]:
tup2

(4, 9.5, 'ammar_bhai', False)

In [11]:
len(tup2)

4

In [13]:
type(tup2)

tuple

In [24]:
tup1 + tup2  # CANCATINATE (TO ADD TWO OR MORE TUPLE)

(1, 2.5, 'Apple', True, 4, 9.5, 'ammar_bhai', False)

In [25]:
tup2 * 2 +tup1  # CANCATINATE and REPEAT (TO ADD TWO OR MORE TUPLE)

(4,
 9.5,
 'ammar_bhai',
 False,
 4,
 9.5,
 'ammar_bhai',
 False,
 1,
 2.5,
 'Apple',
 True)

In [19]:
tup3=(20, 30, 40, 45)
tup3

(20, 30, 40, 45)

In [22]:
min(tup3) #MINIMUM

20

In [23]:
max(tup3) #MAXIMUM

45

In [26]:
tup3* 3

(20, 30, 40, 45, 20, 30, 40, 45, 20, 30, 40, 45)

## _**2. LIST**_
* Order collection of elements.
* enclosed in [] square braces.
* Mutatble i.e. elements can be changed.

In [59]:
list1=[2, 'baba', False]
list1

[2, 'baba', False]

In [62]:
len(list1)

3

In [63]:
type(list1)

list

In [60]:
list2 = [3, 5, 'AMMAR' , 57, 67.9,True, 'codanics']
list2

[3, 5, 'AMMAR', 57, 67.9, True, 'codanics']

In [29]:
list1 + list2

[2, 'baba', False, 3, 5, 'AMMAR', 57, 67.9, True, 'codanics']

In [34]:
list1.reverse()
list1

[False, 'baba', 2]

In [35]:
list1 * 2

[False, 'baba', 2, False, 'baba', 2]

In [37]:
list1.reverse()
list1

[False, 'baba', 2]

In [51]:
list1.append(6)
list1

[6]

In [43]:
list2.append('lion')
list2

[3, 5, 'AMMAR', 57, 67.9, True, 'codanics', 'lion']

In [47]:
list2.clear()
list2

[]

In [ ]:
list 3

In [52]:
list1.count('baba')
list1

[6]

In [55]:
list3=[1, 4,6 ,3,7,9 ,2,5]
list3

[1, 4, 6, 3, 7, 9, 2, 5]

In [56]:
list3.sort()
list3

[1, 2, 3, 4, 5, 6, 7, 9]

In [61]:
list =list1 +list2
list

[2, 'baba', False, 3, 5, 'AMMAR', 57, 67.9, True, 'codanics']

## _**3. DICTIONARIES**_
* Unordered collection of elements.
* key and value pair.
* curly braces {}.
* Mutatable i.e. elements can be changed.

Food and its price

In [76]:
d1 = {'price':10, 'age': 20, 'address':15,'karachi':23}
d1

{'price': 10, 'age': 20, 'address': 15, 'karachi': 23}

In [68]:
type(d1)

dict

In [69]:
len(d1)

4

In [70]:
d1['price']

10

EXTRACT DATA

In [72]:
keys1=d1.keys()
keys1

dict_keys(['price', 'age', 'address', 'karachi'])

In [73]:
values1 = d1.values()
values1

dict_values([10, 20, 15, 23])

In [78]:
d1["tikki"]= 30
d1

{'price': 10, 'age': 20, 'address': 15, 'karachi': 23, 'tikki': 30}

In [84]:
d1["tikki"]=15
d1

{'price': 10, 'age': 20, 'address': 15, 'karachi': 23, 'tikki': 15}

In [86]:
d2 = {'dates':10, 'badam': 20, 'chik':15,'rice':23}
d2

{'dates': 10, 'badam': 20, 'chik': 15, 'rice': 23}

#### CANCATENATE
TO ADD TWO DICTIONARIES

In [87]:
d2.update(d1)
d2

{'dates': 10,
 'badam': 20,
 'chik': 15,
 'rice': 23,
 'price': 10,
 'age': 20,
 'address': 15,
 'karachi': 23,
 'tikki': 15}

In [81]:
len(d2)

4

## _**4. SET**_
* Unordered collection of elements.
* Curly braces {}.
* No duplicate elements.

In [88]:
S1= {2, 3, 5.7 , 9.1, 'ammar', 'baba'}
S1

{2, 3, 5.7, 9.1, 'ammar', 'baba'}

In [90]:
S1.add(3)
S1

{2, 3, 5.7, 9.1, 'ammar', 'baba'}

In [93]:
S1.remove(9.1)
S1

{2, 3, 5.7, 'ammar', 'baba'}